<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Invoice Generation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a *ngIf="loggedIn" class="nav-link" routerLink="/invoices">Invoices</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loggedIn" class="nav-link" routerLink="/add-invoice">Add Invoice</a>
          </li>
        </ul>
        <form class="d-flex">
          <button *ngIf="loggedIn" class="btn btn-primary" (click)="logout()" type="button">Logout</button>
          <button *ngIf="!loggedIn" class="btn btn-primary" routerLink="/login" type="button">Login</button>
        </form>
      </div>
    </div>
  </nav>
  
  
<router-outlet></router-outlet>